GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost
SHAREPOINT_EXCEL_URL=https://nibm-my.sharepoint.com/:x:/g/personal/chandula_nibm_lk/IQDBA5Scq1DVRoesV2lJmSQXAVCeRXoAYpFP3J_IBQVhao8?download=1
GOOGLE_CALENDAR_NAME=NIBM Schedule
TIMEZONE=Asia/Colombo
EVENT_START=09:00
EVENT_END=17:00

# Cloudflare Worker secrets
TOKEN_ENCRYPTION_KEY=
